<!DOCTYPE html>
<html lang="en" style="height: auto;" class="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | General UI</title>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2.0/dist/css/adminlte.min.css">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reservationDetails.css">
    <link rel="stylesheet" href="/css/screenOverflow.css">
</head>

<body class="layout-navbar-fixed layout-footer-fixed" style="height: auto;">
<div class="wrapper">
    <nav class="main-header navbar navbar-expand navbar-light bg-dark">

        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" href="#" id="clock" role="button"></a>
            </li>
        </ul>
    </nav>


    <a href="/screen/room" class="brand-link bg-warning bg-dark">
        <img src="/image/RoomRoarB.png" alt="AdminLTE Logo" class="brand-image">
    </a>

    <div class="content-wrapper" style="margin-left: 0; min-height: 1265px;">
        <div class="content-wrapper">
            <!-- Content Header -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>404 Error Page</h1>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="error-page">
                    <h2 class="headline text-warning"> 404</h2>
                    <div class="error-content">
                        <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Nie znaleziono strony.</h3>
                        <p>
                            Nie możemy znaleźć strony, której szukasz.
                            <a th:href="@{/user/dashboard}">Wróć do strony głównej</a>.
                        </p>
                    </div>
                </div>
            </section>
    </div>

    <footer class="main-footer text-sm" style="margin-left: 0; width: 100%;">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 0.0.1
        </div>
        <strong>© 2023 RoomRoar.</strong> All rights reserved.
    </footer>
    <div id="sidebar-overlay"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2.0/dist/js/adminlte.min.js"></script>

<script src="/js/clock.js"></script>

</body>
</html>